

/* texts variables */
$textBlack: #000000;
$textVeryVeryDark: #1B1B1B;
$textVeryDark: #2D2D2D;
$textDark: #303030;
$textGrey: #5A5A5A;
$textLightGrey:#8f8f8f;
$textVeryLightGrey:#b2b2b2;
$textBordeaux: #AB4027;
$textRed: #D2401E;
$textGreen: #339966;
$textDarkGold: #B68A2C;
$textGold: #B7903C;
$textMurble: #D3CFAF;
$textWhite: #ffffff;

/* bg Colors */
$bgWhite: #ffffff;
$bgYellow: #ffa500;
$bgAltYellow: #ffa323;
$bgGold: #b7903c;
$bgDarkGrey: #888888;
$bgPink: #ef2853;
$bgAltPink: #ee2852;
$bgSalmon: #d2401e;
$bgDarkSalmon: #c83b1a;
$bgBlack: #1c1c1c;
$bgDark: #1b1b1b;
$bgLightGrey: #00000026;







