@use './partials/variables' as *;
$fa-font-path: "./webfonts";
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';
@import 'bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,700;1,800&family=Oswald:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    padding: 0;
    list-style: none;
    margin: 0;
}
body{
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    font-weight: 400;
}
a{
    text-decoration: none;
    color: $textWhite;
    &:hover{
        color: $textWhite;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes growup {
    from{
        scale: .7;
    }
    to{
        scale: 1;
    }
}
@keyframes fromTop {
    from{
        transform: translateY(-10%);
    }
    to{
        transform: translateY(0);
    }
}
@keyframes beat {
    0%{
        scale: 1
    }    
    25%{
        scale: 1.2
    }
    50%{
        scale: .8
    }
    75%{
        scale: 1.2
    }
    85%{
        scale: 1
    }
    100%{
        scale:.8
    }   
}
@keyframes arriveFromBottom {
    from{
        transform: translateY(30px);
    }
    to{
        transform: translateY(0px);
    }
}
@keyframes goDown {
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(200px);
    }
}